{{- if eq .Values.application.keda.enabled true }}
---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{ include "vauthenticator.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    deploymentName: {{ include "vauthenticator.name" . }}
spec:
  minReplicaCount: {{ .Values.application.keda.spec.minReplicaCount }}
  maxReplicaCount: {{ .Values.application.keda.spec.maxReplicaCount }}
  pollingInterval: {{ .Values.application.keda.spec.pollingInterval }}
  cooldownPeriod: {{ .Values.application.keda.spec.cooldownPeriod }}
  scaleTargetRef:
    name: {{ include "vauthenticator.name" . }}
  triggers:
    - type: prometheus
      metadata:
        serverAddress: {{ .Values.application.keda.prometheus.serverAddress }}
        metricName: {{ .Values.application.keda.prometheus.metricName }}
        threshold: {{ .Values.application.keda.prometheus.threshold }}
        query: : {{ .Values.application.keda.prometheus.query }}

  {{ end }}

{{- if eq .Values.managementUi.keda.enabled true }}
---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{ include "vauthenticator-management-ui.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    deploymentName: {{ include "vauthenticator-management-ui.name" . }}
spec:
  minReplicaCount: {{ .Values.managementUi.keda.spec.minReplicaCount }}
  maxReplicaCount: {{ .Values.managementUi.keda.spec.maxReplicaCount }}
  pollingInterval: {{ .Values.managementUi.keda.spec.pollingInterval }}
  cooldownPeriod: {{ .Values.managementUi.keda.spec.cooldownPeriod }}
  scaleTargetRef:
    name: {{ include "vauthenticator-management-ui.name" . }}
  triggers:
    - type: prometheus
      metadata:
        serverAddress: {{ .Values.managementUi.keda.prometheus.serverAddress }}
        metricName: {{ .Values.managementUi.keda.prometheus.metricName }}
        threshold: {{ .Values.managementUi.keda.prometheus.threshold }}
        query:: {{ .Values.managementUi.keda.prometheus.query }}

  {{ end }}
